* {
  box-sizing: border-box;
}

.container {
  background: darkseagreen;
  height: 100%;

  font-size: 14px;
  padding-top: 20px;
  padding-left: 20px;
  p {
    margin-top: 10px;
    font-weight: 300;

    span {
      font-weight: 600;
      margin-left: 10px;
    }
  }
}